@model String

<object data="/Docs/Contract/@Model" type="application/pdf" width="100%" height="300">
    <p>
        It appears you don't have a PDF plugin for this browser.
        You can <a href="/Docs/Contract/@Model">
            click here to
            download the PDF file.
        </a>
    </p>
</object>

