
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Raw Scoring</title>
</head>
<body>
    <div>
        @ViewData["ScoringContect"]  
    </div>
</body>
</html>
