@model IEnumerable<Pecuniaus.Web.Models.OwnerModel>
@{var isFormDisabled = Pecuniaus.UICore.SessionHelper.IsFormDisabled(Pecuniaus.UICore.TaskTypes.PQDataEntry);}
@using GridMvc.Html
@Html.Grid(Model).Columns(columns =>
           {
               columns.Add(m => m.OwnerId, true);
               columns.Add(m => m.OwnerFirstName).Titled("Name");
               columns.Add(m => m.Phone1).Titled("Phone");
               columns.Add(m => m.AddressLine1).Titled("Address");
               columns.Add(m => m.City).Titled("City");
               columns.Add(m => m.State).Titled("State");
               columns.Add(m => m.StateID, true);
               columns.Add(m => m.Zip).Titled("Zip Code");
               columns.Add(m => m.Authorized).Titled("Authorized");
               columns.Add(m => m.addressId, true);
               columns.Add(m => m.contactId, true);
               if (!isFormDisabled)
               {

                   columns.Add()
                       .Sanitized(false)
                       .Encoded(false)
                       .RenderValueAs(o => RenderActionLinks(o));
               }
           }).WithPaging(10).Sortable(true)

@helper RenderActionLinks(Pecuniaus.Web.Models.OwnerModel m)
{
    <a href="Javascript:void(0);" title="Edit" onclick="EditOwner(@m.Id);"><i class="fa fa-pencil-square-o"></i></a>
    @Html.Raw(@Ajax.ActionLink("[Delete]",
                 "DelOwner",
                  new { id = m.Id },
                new AjaxOptions
                 {
                     OnSuccess = "OwnerDeleted()",
                     //    UpdateTargetId="CustomerList", // <-- DOM element ID to update
                     // InsertionMode = InsertionMode., // <-- Replace the content of DOM element
                     HttpMethod = "POST"
                 }, new { title = "Delete" }).ToHtmlString().Replace("[Delete]", "<i class='fa fa-trash-o'></i>"))

}
