@model Pecuniaus.Renewal.Models.CreditPullModel
@{var isFormDisabled = Pecuniaus.UICore.SessionHelper.IsFormDisabled(Pecuniaus.UICore.TaskTypes.RWRenewalReview);}
<div class="row" id="divCreditReport">
    <div class="col-md-3">
        <button data-toggle="modal" id="btnrequest" class="btn btn-xs btn-danger pop_addbtn_margn" type="button" @(isFormDisabled ? "disabled" : "") >            
            Pull Credit Reports
        </button>
    </div>
    <div class="col-md-3">
        @Html.LabelFor(m => m.Type)
        @Html.DropDownListFor(m => m.typeid, Model.Type, "", new { @class = "form-control", @data_placeholder = "ProcessorName" })
    </div>
    <div class="col-md-3">
        <input type="checkbox" id="chkNoReport" name="chkNoReport" />
        No Reports
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnrequest").click(function () {
            if ($("#typeid").val() == '0') {
                alert('Please Select credit pull type');
                return false;
            }
            else {
                var drpvalue = $("#typeid").val();
                if (drpvalue == "1") {

                    if ($("#hdnowner").val() == '1') {
                        var retVal = confirm("Do you wish to get owner credit report?");
                        if (retVal == true) {
                            getcreditpull();
                        }
                        else {
                            return false;
                        }
                    }
                    else {
                        getcreditpull();
                    }
                }
                if (drpvalue == "2") {

                    if ($("#hdncompany").val() == '1') {
                        var retVal = confirm("Do you wish to get company credit report?");
                        if (retVal == true) {
                            getcreditpull();
                        }
                        else {
                            return false;
                        }
                    }
                    else {
                        getcreditpull();
                    }
                }


            }

        })
    });
    function getcreditpull() {
        $.ajax({
            type: "POST",
            url: "/MerchantEvaluation/InsertCreditReport",
            dataType: "html",
            data: { type: $("#typeid").val(), chkNoReport: $("#chkNoReport").prop("checked") },
            success: function (data) {
                $("#divcreditreport").html(data);
            },
            error: function (ex) {
                alert('Failed');
            }
        });
        return false;
    }
    
</script>







