@model Tuple<Pecuniaus.Models.User.GroupPermission, IEnumerable<Pecuniaus.Models.Contract.ProcessorModel>>

@{var isFormDisabled = Model.Item1.IsFormDisabled;}

@using GridMvc.Html

@Html.Grid(Model.Item2).Columns(columns =>
    {
        //  columns.Add(m => m.ProcessorComparID).Titled("Select");
        columns.Add(m => m.ProcessorId, true);
        columns.Add(m => m.ProcessorName).Titled(Pecuniaus.Resources.Contract.DataEntry.Processor);
        columns.Add(m => m.ProcessorNumber).Titled(Pecuniaus.Resources.Contract.DataEntry.ProcessorNumber);
        columns.Add(m => m.FirstProcessedDate).Titled(Pecuniaus.Resources.Contract.DataEntry.FirstProcessedDate).Format("{0:d}");
        if(!isFormDisabled)
        { 
        columns.Add()
               .Sanitized(false)
               .Encoded(false)
               .RenderValueAs(o => RenderActionLinks(o));
        }
        }).WithPaging(10).Sortable()

@helper RenderActionLinks(Pecuniaus.Models.Contract.ProcessorModel m)
{
    <a href="Javascript:void(0);" title="Edit" onclick="EditProcessor(@m.ID);"><i class="fa fa-pencil-square-o"></i></a>
        @Html.Raw(Ajax.ActionLink("[Delete]",
                 "DelProcessor",
                  new { ID = m.ID },
                new AjaxOptions
                 {
                     OnSuccess = "ProcessorDeleted()",
                     HttpMethod = "POST"
                 }, new {title="Delete" }).ToHtmlString().Replace("[Delete]", "<i class='fa fa-trash-o'></i>"))
}