<!-- Widget -->
<div class="widget">
    <div class="widget-extra green_bg">
        <h3 class="widget-content-light">Owner <strong>Information</strong></h3>
    </div>
    <div class="widget-simple">
        <div class="col-md-6">
            <address>
                <strong>Owner Name: </strong> <label id="lblOwnerName"></label><br>
                <strong>Address:</strong> <label id="lblOwnerAdd"></label> <br>
                <strong>Sales Rep:</strong> <label id="lblSalesRep2"></label><br>
            </address>
        </div>
        <div class="col-md-6">
            <address>
                <strong>SSN: </strong> <label id="lblOwnerSSN"></label><br>
                <strong>Phone Number:</strong> <label id="lblOwnerPhone"></label> <br>
            </address>
        </div>
    </div>
</div>
<!-- END Widget -->
