@if (TempData["SuccessMsg"] != null && !string.IsNullOrEmpty ( TempData["SuccessMsg"].ToString() ))
{
    <div class="alert alert-success" role="alert" >@TempData["SuccessMsg"]</div>
}

@if (TempData["ErrorMsg"] != null)
{
    <div class="alert alert-danger" role="alert">@TempData["ErrorMsg"]</div>
}

