<html>
<body>
    <div>
        <form>
            <div>
                <div style="width: 200px; font-size: small">
                    <label>Snooze till Date:</label>
                </div>
                <input id="txtsnoozeDate" type="text" placeholder="mm/dd/yy" data-date-format="mm/dd/yy" name="example-datepicker5" style="width: 200px">
            </div>
            <div style="margin-top: 20px">
                <div style="width: 200px; font-size: small">
                    <label for="example-hf-password">Snooze till paid off %age</label>
                </div>
                <input placeholder="Enter text.." style="width: 200px">
            </div>

            <div style="margin-top: 20px">
                <button class="btn btn-sm btn-primary" type="submit">OK</button>
            </div>

        </form>
    </div>

</body>
</html>



