<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <add name="ES_Connection" connectionString="XpoProvider=MySql;server=160.153.16.12;user id=test; password=test@123; database=pecuniaus;persist security info=true;CharSet=utf8;" />
    <!--<add name="ES_Connection" connectionString="XpoProvider=MySql;server=23.229.204.66;user id=avz_access; password=ibIug}P)6ZAv; database=Pecuniaus;persist security info=true;CharSet=utf8;" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="APIURI" value="http://localhost:55480/Bridge/" />
    <!--<add key="owin:AutomaticAppStartup" value="false" />-->
    <add key="NCFStatementFileName" value="NCFStatementTemplate.xlsx" />
    <add key="DeclineLetterTemplate" value="DeclineLetterTemplate.html" />
    <add key="NotesLetterTemplate" value="NotesLetterTemplate.html" />
    <add key="ReportPhysicalPath" value ="D:\Projects\Harish\New Code\trunk\Bridge\Bridge\CreditFiles"/>

    <add key="ContractTermsPDF" value ="~/App_Data/Contract/Terms.pdf"/>
    <add key="BLATemplate" value ="~/App_Data/Contract/ContractTemplate.xslt"/>
    <add key="IOUPersonaFisicaSantoDomingo2Owner" value ="~/App_Data/Contract/IOUPersonaFisicaSantoDomingo2Owner.xslt"/>
    <add key="IOUPersonaFisicaSantoDomingo1Owner" value ="~/App_Data/Contract/IOUPersonaFisicaSantoDomingo1Owner.xslt"/>
    <add key="IOUPersonaFisica2Owner" value ="~/App_Data/Contract/IOUPersonaFisica2Owner.xslt"/>
    <add key="IOUPersonaFisica1Owner" value ="~/App_Data/Contract/IOUPersonaFisica1Owner.xslt"/>
    <add key="IOUSantoDomingo2Owner" value ="~/App_Data/Contract/IOUSantoDomingo2Owner.xslt"/>
    <add key="IOUSantoDomingo1Owner" value ="~/App_Data/Contract/IOUSantoDomingo1Owner.xslt"/>
    <add key="IOUOther2Owner" value ="~/App_Data/Contract/IOUOther2Owner.xslt"/>
    <add key="IOUOther1Owner" value ="~/App_Data/Contract/IOUOther1Owner.xslt"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="100990000" executionTimeout="1400" requestLengthDiskThreshold="100990000" />
 
    <globalization uiCulture="en-US" culture="en-US" enableClientBasedCulture="false" />
    <!--<globalization uiCulture="es-DO" culture="es-DO" enableClientBasedCulture="false" />-->
    <pages>
      <namespaces>
        <add namespace="GridMvc" />
        <!--<add namespace="Contract" />-->
      </namespaces>
    </pages>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET"
      path="DX.ashx" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="DevEx" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="true" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
       <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
       <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="rayan.c@itatlantis.com" deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="~/Outbox" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
