<div id="modNoPop" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-12">
                            <label>@Pecuniaus.Resources.Common.Notes</label>
                            <textarea class="form-control" cols="20" id="vc_q_pop" placeholder="Enter text.." rows="2"></textarea>
                        </div>
                    </div>
                    <div class="row form-actions">
                        <div class="col-xs-12 text-right">
                            <input type="submit" class="btn btn-sm btn-primary" data-dismiss="modal" value="@Pecuniaus.Resources.Common.Add" onclick="PopQuesSubmit('vc_q_pop')">
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">@Pecuniaus.Resources.Common.Close</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
