<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="Pecuniaus.Notifications" type="System.Configuration.NameValueFileSectionHandler" />
    <section name="ServiceHost.appSettings" type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File"
				  layout="${longdate} ${logger} ${message}"
				  fileName="${basedir}/logs/logfile.html"
				  archiveFileName="${basedir}/archives/log.{#####}.html"
				  archiveAboveSize="1048576"
				  archiveNumbering="Sequence"
				  concurrentWrites="true"
				  keepFileOpen="false"
				  encoding="iso-8859-2" />

      <target xsi:type="Database" name="database" dbProvider="sqlserver">
        <connectionString>Data Source=xx.xx.xx.xx;Initial Catalog=;User ID=dev2008;Password=12345678</connectionString>
        <commandText>
          INSERT INTO dbo.Logs (Message, Level, CreatedOn) VALUES (@message, @level, @createdOn);
        </commandText>
        <parameter name="@message" layout="${message}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@createdOn" layout="${date:format=yyyy\-dd\-MM HH\:mm\:ss}" />
      </target>

    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
      <!--<logger name="*" minlevel="Info" appendTo="database"/>-->
    </rules>

  </nlog>
  <Pecuniaus.Notifications>
    <add key="TimeInterval" value="10" />
  </Pecuniaus.Notifications>
  <appSettings>
    <add key="APIURI" value="http://localhost/PecuniausBridge/" />
    <add key="NCFStatementFileName" value="NCFStatementTemplate.xlsx" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<system.net>
    <mailSettings>
      <smtp from="rayan.c@itatlantis.com" deliveryMethod="Network">
        <network host="smtp.office365.com" password="harish@123" port="587" userName="rayan.c@itatlantis.com" enableSsl="true" />
      </smtp>
    </mailSettings>
</system.net>

</configuration>